*{
    margin:0;
    padding:0;
}
body{
    
    text-align: center;
    background:url(pexels-pixabay-235985.jpg) no-repeat center center fixed;
    background-size:cover;

}
body h1{
    text-shadow: 5px 5px white;
    color:black;
    font-size:80px;
    font-family: 'serif';
    text-align: center;
    border-bottom:black 5px double;
    border-right: 5px double black ;
    border-left: 5px double black ;
    display:inline-flex; 
}
.form{
    font-size: 18px;
    max-width:100%;
    margin:50px auto;
}
.form-control input{
    background: none;
    border-bottom: 2px solid white ;
    border-right: 2px solid white ;
    padding: 10px;
    border-radius:5px;
    width: 50%;
    display: block;
    margin:5px;

}
.form-control{
    margin-bottom:30px;
    text-align: left;
    margin-left: 420px;
    color: black;
}
.form-control input:hover{
    border:2px solid blue;
    color:white;
    background-color:rgba(0, 0, 0, 0.5);
}
.form-control input::placeholder {
    color:whitesmoke;
    font-size:15px;
}

#label-role{
    display: block;
    font-family: serif;
    font-size: 30px;
    text-shadow: 2px 2px white;
    margin-bottom: 15px;
    
}
#role{
    font-family: serif;
    padding: 10px;
    width:53%;
    font-size: 17px;
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
    border-radius:5px;
    border-bottom: 2px solid white ;
    border-right: 2px solid white ;
}
#role:hover{
    background-color:rgba(0, 0, 0, 0.5);
    border:2px solid blue;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"]

{
    display:inline-block;
    width:auto;
    cursor: pointer;
    margin-bottom: 20px;
    
}
.form-control label{
    display: block;
}
#s{
    font-size: 30px;
    text-shadow: 2px 2px white;
    margin-bottom: 15px;
}


#A{
    text-shadow: 2px 2px white;
    color: black;
    font-size: 30px;
    margin-bottom: 15px;
}
.form-control textarea{
    width: 50%;
    padding:5px;
    background: none;
    border-bottom: 4px solid white ;
    border-right: 4px solid white ;
    color: white;
    border-radius: 5px;
}
.form-control textarea:hover{
    border:2px solid blue;
    background-color:rgba(0, 0, 0, 0.5);
}
.form-control textarea::placeholder {
    color: whitesmoke;
    
}
button{
    font-size:30px;
    background: none;
    color: black;
    border-radius: 5px;
    border-bottom: 2px solid white ;
    border-right: 2px solid white ;
    padding: 5px;
    text-shadow: 2px 2px white;
}
button:hover{
    border:2px solid blue;
    background-color:rgba(0, 0, 0, .5);
}